
.apiSignature {
  font-size: .75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .5rem;
}

.httpMethod {
  color: #ffffff;
  padding: .1rem .3rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .2rem;
  display: inline-block;
  margin-right: .5rem;
  font-size: .75rem;
}

.apiPath {
  font-family: var(--ifm-font-family-monospace);
  color: var(--ifm-color-content-secondary);
}

.description {
  font-size: 0.875rem;
  color: var(--ifm-color-content-secondary);
  margin: 0;
}
