
.apiSignature {
  font-size: .75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .5rem;
}

.apiPath {
  margin-left: .5rem;
  font-family: var(--ifm-font-family-monospace);
  color: var(--ifm-color-content-secondary);
}

.description {
  font-size: 0.875rem;
  color: var(--ifm-color-content-secondary);
  margin: 0;
}
